# Ignore IDE settings
.idea/
*.iml

# Ignore build files
out/
target/
build/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Java compiled files
*.class

# Ignore logs and temp files
*.log
*.tmp

# Ignore dependency directories
lib/

# Study materials
IMP Materials/
